* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* navbar */
nav {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
    align-self: flex-start;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px;
    align-self: center;
    
}


.navigation {
    list-style: none;
    display: flex;
    
}

.navigation a{
    display: block;
    padding: 16px;
    
}

.navigation a:hover{
    background-color: white;
    transition: .5s;
}

.navigation li:last-child {
    display: none;
}

@media (max-width: 600px) {
    nav{
        position: relative;
        flex-direction: column;
        
    }
    nav a{
        align-self: flex-start !important;
    }
    .navigation  {
        flex-direction: column; 
    }

    .navigation a{
        text-align: center;  
    }

    .navigation li:last-child {
        display: block;
        position: absolute;
        top: 0px;
        right: 10px;
    }

  
    .responsive .navigation li:not(:last-child){
        display: none;
    }


}
/* navbar-end */

.header {
    background-color: goldenrod;
    text-align: center;
}


.ph {
    background-color: gray;
    padding: 20px;
    width: 100%;
    margin-top: 10px;
}

.main {
    display: flex;   
}

.sidebar{
    order: 1;
    flex: 25%;
    
    background-color: aliceblue;
    padding: 20px;
}

.content {
    flex: 75%;
    
    padding: 20px ;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .sidebar {
        order: 0;
    }
}


